@model List<ASI.Basecode.Data.Models.User>
@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/Index.css" />
}

@{
    ViewData["Title"] = "User Master";
}
<div style="font-weight:bold;color:#086788;">
    <h1 style="position:fixed;left:140px;bottom:87%;">@AdminDashboard</h1>
</div>
<div class="rectangle-container">
    <i class="fas fa-search"></i>
    <input type="search" placeholder="Search..">
    <a asp-controller="Account" asp-action="Register">
        <i class="fas fa-user-plus"></i>
    </a>
    <table class="table">
        <thead>
            <tr style="background-color:#F0C808;color:white;">
                <th scope="col">AdminId</th>
                <th scope="col">LastName</th>
                <th scope="col">FirstName</th>
                <th scope="col">UserName</th>
                <th scope="col">Email</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var users in Model)
                 {
                <tr style="color:white">
                <th scope="row">@users.UserId</th>
                <td>@users.LastName</td>
                    <td>@users.FirstName</td>
                    <td>@users.Name</td>
                    <td>@users.Email</td>
                    <td>Image</td>
                <td>
                    <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    <button type="button" class="btn btn-success"><i class="fa-solid fa-pencil"></i></button>
                     <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>