@using ASI.Basecode.Services.ServiceModels
@model TrainingViewModel
@section styles {
    <link rel="stylesheet" href="~/css/edittraining.css" />
}
@{
    ViewData["Title"] = "Edit Training";
    ViewBag.IsEditTrainingPage = true;
}

<div class="screen-container">
    <div class="inside-container">
        <form method="post" enctype="multipart/form-data" asp-controller="Training" asp-action="EditTraining">
            <input type="hidden" class="form-control" asp-for="Id">
            <div class="twoDiv">
                <div class="leftDiv">
                    <div class="form-group">
                        <label>TRAINING NAME</label>
                        <input type="text" class="input-design" asp-for="TrainingName">
                        <span asp-validation-for="TrainingName" class="text-danger"></span><br>
                    </div>
                    <div class="form-group">
                        <label>DESCRIPTION</label>
                        <textarea class="text-area-design" rows="3" asp-for="TrainingDesc"></textarea>
                        <span asp-validation-for="TrainingDesc" class="text-danger"></span><br>
                    </div>
                </div>
                <div class="rightDiv">
                    <div class="form-group">
                        <label>AUTHOR</label>
                        <input type="text" class="input-design" asp-for="TrainingAuthor">
                        <span asp-validation-for="TrainingAuthor" class="text-danger"></span><br>
                    </div>
                    <div class="form-group spacediv">
                        <label>CATEGORY</label>
                        <select class="input-design" asp-for="CategoryId">
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Id" selected="@(category.Id == Model.CategoryId)">@category.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group spacediv2">
                        <label>COVER IMAGE</label><br />
                        <input asp-for="ImageFile" type="file" accept=".png" class="uploadButton" id="fileInput" onchange="previewFile()"><br>
                        <span asp-validation-for="ImageFile" class="text-danger"></span><br>
                    </div>
                    <div class="imageDiv">
                        <img id="previewImage" src="@Model.ImageUrl" class="imageFile" alt="">
                    </div>

                    <div class="bottom-buttons">
                        <a class="back-button" asp-controller="Training" asp-action="Trainings">
                            BACK TO LIST
                        </a>
                        <button type="submit" class="saveButton">SAVE</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script>
        function previewFile() {
            var preview = document.getElementById('previewImage');
            var fileInput = document.querySelector('input[type=file]');
            var file = fileInput.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            };

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "@Model.ImageUrl";
            }
        }
    </script>
}