@model List<ASI.Basecode.Data.Models.Topic>
@section styles {
    <link rel="stylesheet" href="~/css/topics.css" />
}

@{
    ViewData["Title"] = "Topics";
    ViewBag.IsTopicsPage = true;
    var trainingId = ViewBag.TrainingId;
    var id = ViewBag.TrainingId;
}
<div class="userlist-div">
    <div class="inside-userlist">
        <div class="topBackbutton">
            <a class="back-button-div" asp-controller="Training" asp-action="ViewTraining" asp-route-id="@id">
                <p class="back-button-p">BACK TO TRAINING</p>
            </a>
        </div>
        <div class="topofContainer">
            <div>
                <span class="topicsUnder">Topics under: </span>
                <span class="trainingName">@ViewBag.TrainingName</span>
            </div>
            <div class="addIcon-div">
                <a class="add-icon" asp-controller="Topic" asp-route-trainingId="@trainingId" asp-action="CreateTopic">
                    <i class="fa fa-plus add-icon"></i>
                </a>
            </div>
        </div>
        <div class="table-container">
            <table class="table table-borderless">
                <thead class="custom-thead">
                    <tr>
                        <th scope="col">ROW #</th>
                        <th scope="col">TOPIC ID</th>
                        <th scope="col">TOPIC NAME </th>
                        <th scope="col">ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        var count = 1;
                        @foreach (var topic in Model)
                        {
                            <tr style="color:white">
                                <td>@count</td>
                                <td>@topic.TopicId</td>
                                <td>@topic.TopicName</td>
                                <td>
                                    <div class="btn-group">
                                        <form asp-controller="Topic" asp-action="ViewTopic" method="get">
                                            <input type="hidden" name="id" value="@topic.TopicId" />
                                            <input type="hidden" name="trainingId" value="@trainingId" />
                                            <button type="submit" class="btn btn-primary btn-spacing"><i class="far fa-eye"></i></button>
                                        </form>
                                        <form asp-controller="Topic" asp-action="EditTopic" method="get">
                                            <input type="hidden" name="id" value="@topic.TopicId" />
                                            <input type="hidden" name="trainingId" value="@trainingId" />
                                            <button type="submit" class="btn btn-success btn-spacing"><i class="fa fa-pen"></i> </button>
                                        </form>
                                        <form id="deleteForm-@topic.TopicId" asp-controller="Topic" asp-action="DeleteTopic" asp-route-id="@topic.TopicId" asp-route-trainingId="@trainingId" method="post">
                                            <button type="button" class="btn btn-danger btn-spacing" onclick="confirmDelete('@topic.TopicId')">
                                                <i class="fa fa-trash-can"></i>
                                            </button>
                                        </form>


                                    </div>
                                </td>
                            </tr>
                            count++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">
                                <p class="emptyTable">No topics under this training.</p>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="pagination-container">
            <ul class="pagination justify-content-center">
            </ul>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function confirmDelete(topicId) {
            Swal.fire({
                title: 'Confirm Deletion',
                text: 'Are you sure you want to delete this?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!',
                customClass: {
                    title: 'my-title-class',
                    content: 'my-content-class'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("deleteForm-" + topicId).submit();
                }
            });
        }
    </script>
    <script>
        function displayData(page) {
            var pageSize = 8;
            var start = (page - 1) * pageSize;
            var end = start + pageSize;
            var $rows = $('.table tbody tr');

            $rows.hide().slice(start, end).show();
        }

        function generatePagination() {
            var pageSize = 9;
            var pageCount = Math.ceil($('.table tbody tr').length / pageSize);

            var $paginationContainer = $('.pagination');
            $paginationContainer.empty();

            for (var i = 1; i <= pageCount; i++) {
                var $li = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');
                $li.data('page', i).appendTo($paginationContainer);
            }

            $paginationContainer.on('click', 'li', function (e) {
                e.preventDefault();
                var page = $(this).data('page');
                displayData(page);
                $(this).addClass('active').siblings().removeClass('active');
            });

            displayData(1);
            $paginationContainer.find('li:first').addClass('active');
        }

        $(document).ready(function () {
            generatePagination();
        });
    </script>

}
